	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="">Inicio</li>
				<li class="active">No conformidad</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">No conformidad</h1>
			</div>
		</div><!--/.row-->

<%= form_with(model: nonconformity, local: true) do |form| %>
  <% if nonconformity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nonconformity.errors.count, "error") %> prohibited this nonconformity from being saved:</h2>

      <ul>
      <% nonconformity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_id, 'Empleado'%>
    <%= form.collection_select :employee, Employee.all, :id, :first_name, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :area_id, 'Área' %>
    <%= form.collection_select :area, Area.all, :id, :name, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :description, 'Descripción' %>
    <%= form.text_field :description, id: :description %>
  </div>

  <div class="field">
    <%= form.label :lat, 'Latitud' %>
    <%= form.text_field :lat, id: :lat %>
  </div>

  <div class="field">
    <%= form.label :lng, 'Longitud' %>
    <%= form.text_field :lng, id: :lng %>
  </div>

  <div class="field">
    <%= form.label :status_id, 'Estado' %>
    <%= form.collection_select :status, Status.all, :id, :name, prompt: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Crear no conformidad', class:'btn btn-success' %>
  </div>
<% end %>
      <br>
			</div><!--/.col-->
		</div><!--/.row-->
	</div>	<!--/.main-->


