<p id="notice"><%= notice %></p>
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main"n>
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="">Inicio</li>
				<li class="active">No conformidad</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">No conformidad</h1>
			</div>
		</div><!--/.row-->
    <% if i_am_admin? %>
        <div class="row">

          <div class="col-md-12">

            <div class="panel panel-default">
              <div class="panel-heading">
                Filtrar Resultados
              </div>
              <%= form_tag(nonconformities_path, {:method => 'get'}) do %>
                  <div class="panel-body">

                    <div class="row">
                      <div class="col-md-0"></div>
                      <div class="col-md-2 col-sm-4">
                        Empleado: <br>
                        <%= select_tag :employee_id, options_from_collection_for_select(Employee.all, :id, :full_name, selected: params[:employee_id]), include_blank: "Todos", class: "input-sm form-control" %>
                      </div><!-- /.col -->
                      <div class="col-md-2 col-sm-4">
                        Estado:<br>
                        <%= select_tag :status_id , options_from_collection_for_select(Status.all, :id, :name, selected: params[:status_id]), include_blank: "Todos", class: "input-sm form-control" %>
                      </div>
                      <div class="col-md-2 col-sm-4">
                        Área:<br>
                        <%= select_tag :area_id , options_from_collection_for_select(Area.all, :id, :name_with_company, selected: params[:area_id]), include_blank: "Todas", class: "input-sm form-control" %>
                      </div>
                      <div class="col-md-2 col-sm-4">
                        Compañía:<br>
                        <%= select_tag :company_id , options_from_collection_for_select(Company.all, :id, :name, selected: params[:company_id]), include_blank: "Todas", class: "input-sm form-control" %>
                      </div>
                      <div class="col-md-2">
                        <br>
                        <%= submit_tag('Buscar', :name => nil, class:"btn btn-default btn-sm") %>
                      </div>
                    </div><!-- /.row -->
                  </div>
              <% end%>
            </div>
          </div>
        </div>

    <% end %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Trabajador</th>
      <th>Compañía</th>
      <th>Área</th>
      <th>Descripción</th>
      <th>Estado</th>
      <th>Fecha</th>
      <th colspan="3"> Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @nonconformities.each do |nonconformity| %>
      <tr>
        <td><%= nonconformity.employee.try(:first_name)%> <%= nonconformity.employee.try(:last_name)%></td>
        <td><%= nonconformity.try(:company).try(:name).nil? ? nonconformity.employee.try(:company).try(:name) : nonconformity.company.name %></td>
        <td><%= nonconformity.area.try(:name) %></td>
        <td><%= nonconformity.description %></td>
        <td><%= nonconformity.status.try(:name) %></td>
        <td><%= nonconformity.created_at.strftime("%d/%m/%Y")  %></td>
        <td><center><%= link_to 'Ver', nonconformity, class:'btn btn-success' %></td>
        <%if i_am_admin? || i_am_supervisor?%>
          <td><center><%= link_to 'Eliminar', nonconformity, method: :delete, data: { confirm: 'Estas seguro?' }, class:'btn btn-danger' %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
        <center><%= will_paginate @nonconformities %></center>

<br>

