<p id="notice"><%= notice %></p>
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="">Inicio</li>
				<li class="active">No conformidad</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
        <h1 class="page-header">No conformidad</h1>
      </div>
		</div><!--/.row-->




<div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title" style="padding-top:7px;"><%= @nonconformity.employee.try(:first_name) %> <%= @nonconformity.employee.try(:last_name) %> <%if @nonconformity.status.name != "Finalizado"%><small class="pull-right"><%= link_to 'Volver', nonconformities_path, class:'btn btn-warning' %> <%=link_to "Finalizar", finish_nonconformity_path(@nonconformity), class:'btn btn-danger'%></small><%end%></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4 col-lg-4" align="center"> <img alt="User Pic" src="<%= !@nonconformity.try(:picture).nil? ? image_url(@nonconformity.try(:picture)) : 'http://placehold.it/200x200' %>"  class="img-responsive img-action"><br><a href="<%= !@accident.try(:picture).nil? ? @accident.try(:picture) : '' %>" download="noconformidad.jpg" class="btn btn-success" style="width: 100% !important;">Descargar imagen <span class="glyphicon glyphicon-download-alt"></span> </a> </div>
                <div class=" col-md-8 col-lg-8">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Descripción:</td>
                        <td><%= @nonconformity.description %></td>
                      </tr>
                      <tr>
                        <td>Área:</td>
                        <td><%= @nonconformity.area.try(:name) %></td>
                      </tr>
                      <tr>
                        <td>Fecha en que se reportó:</td>
                        <td><%=@nonconformity.created_at.strftime("%d/%m/%Y %H:%M")%></td>
                      </tr>
                        <tr>
                        <td>Testigo:</td>
                        <td><%=@nonconformity.involved%></td>
                      </tr>
                      <tr>
                        <td>Ubicacion:</td>
                        <td><div id="map" style="width:300px; height:300px;"></div></td>
                      </tr>

                    </tbody>
                  </table>
                </div>
               </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= @nonconformity.lat %>, lng: <%= @nonconformity.lng %>},
          zoom: 15
        });
         var marker = new google.maps.Marker({
          position: {lat: <%= @nonconformity.lat %>, lng: <%= @nonconformity.lng %>},
          map: map
        });
      }

    </script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSyjp-5YTfnXMKtaTjnRNjrtV--HFGLMg&callback=initMap"async defer></script>