<p id="notice"><%= notice %></p>

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="">Inicio</li>
				<li class="active">Empleados</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Empleados</h1>
			</div>
		</div><!--/.row-->
    <% if i_am_admin? || i_am_supervisor? || @user.can_view_all %>
        <div class="row">

          <div class="col-md-12">

            <div class="panel panel-default">
              <div class="panel-heading">
                Filtrar Resultados
              </div>
              <%= form_tag(employees_path, {:method => 'get'}) do %>
                  <div class="panel-body">

                    <div class="row">
                      <div class="col-md-0"></div>
                      <div class="col-md-2 col-sm-4">
                        Nombre:<br>
                        <%= text_field_tag :name, nil, {class:'form-control'} %>
                      </div>
                      <div class="col-md-2 col-sm-4">
                        Compañía:<br>
                        <%= select_tag :company_id , options_from_collection_for_select(@companies, :id, :name, selected: params[:company_id]), include_blank: "Todas", class: "input-sm form-control" %>
                      </div>
                      <div class="col-md-2">
                        <br>
                        <%= submit_tag('Buscar', :name => nil, class:"btn btn-default btn-sm") %>
                      </div>
                    </div><!-- /.row -->
                  </div>
              <% end%>
            </div>
          </div>
        </div>

    <% end %>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Nombres</th>
                      <th>Apellidos</th>
                      <th>RUT</th>
                      <th>Email</th>
                      <th>Teléfono</th>
                      <th>Compañía</th>
                      <th colspan="3">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @employees.each do |employee| %>
                      <tr>
                        <td><%=employee.first_name%></td>
                        <td><%=employee.last_name%></td>
                        <td><%=employee.rut%></td>
                        <td><%=employee.email%></td>
                        <td><%=employee.phone%></td>
                        <td><%=employee.try(:company).try(:name)%></td>
                        <td><center><%= link_to 'Ver', employee, class:"btn btn-success" %></td>
                        <td><center><%= link_to 'Editar', edit_employee_path(employee), class:"btn btn-warning" %></td>
                        <td><center><%= link_to 'Eliminar', employee, method: :delete, data: { confirm: 'Estas seguro?' }, class:"btn btn-danger" %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <br>
    <center><%= will_paginate @employees %></center>
    <%= link_to 'Nuevo empleado', new_employee_path , class:'btn btn-success margin-bottom-2'%>
  </div>
<p id="notice"><%= notice %></p>


