<p id="notice"><%= notice %></p>

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="">Inicio</li>
				<li class="active">Empleado</li>
			</ol>
		</div><!--/.row-->


<p id="notice"><%= notice %></p>

<div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= @employee.first_name %> <%= @employee.last_name %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"></div>
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>RUT:</td>
                        <td><%= @employee.rut %></td>
                      </tr>
                      <tr>
                        <td>Email:</td>
                        <td><%= @employee.email %></td>
                      </tr>
                      <tr>
                        <td>Teléfono:</td>
                        <td><%= @employee.phone %></td>
                      </tr>
                      <tr>
                        <td>Compañía:</td>
                        <td><%= @employee.company.try(:name) %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
               </div>
              </div>
             <div class="panel-footer">
						  <%= link_to 'Editar', edit_employee_path(@employee) %> |
      				<%= link_to 'Volver', employees_path %>
          	</div>
          </div>
        </div>
      </div>
    </div>