<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="">Inicio</li>
				<li class="active">Estados</li>
			</ol>
		</div><!--/.row-->
    <center>
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Estados</h1>
			</div>
		</div><!--/.row-->
<%= form_for @status do |form| %>
     <div class="container">
			<div class="row main">
				<div class="panel-heading">
				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="#">

						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Estado</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i></span>
                    <%= form.text_field :name, class:'form-control', required:true %>
  								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Descripcion</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-comment" aria-hidden="true"></i></span>
                    <%= form.text_field :description, class:'form-control' %>
								</div>
							</div>
						</div>

						<div class="login-register">
                <%= form.submit 'Guardar', class:'btn btn-success'%>
                 <%= link_to 'Volver', statuses_path, class:'btn btn-warning' %>
				    </div>
					</form>
				</div>
			</div>
		</div>
    <%end%>
            </div>
        <br>
			</div><!--/.col-->
		</div><!--/.row-->
	</div>	<!--/.main-->
