<p id="notice"><%= notice %></p>
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="">Inicio</li>
				<li class="active">Estados</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Estados</h1>
			</div>
		</div><!--/.row-->
      <table class="table  table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th colspan="3">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% @statuses.each do |status| %>
            <tr>
              <td><%= status.name %></td>
              <td><%= status.description %></td>
              <td><center><%= link_to 'Ver', status, class:'btn btn-success' %></td>
              <td><center><%= link_to 'Editar', edit_status_path(status), class:'btn btn-warning' %></td>
              <td><center><%= link_to 'Eliminar', status, method: :delete, data: { confirm: 'Estas seguro?' }, class:'btn btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
        <%= link_to 'Nuevo estado', new_status_path, class:'btn btn-success'%>
            </div>
        <br>
			</div><!--/.col-->
		</div><!--/.row-->
	</div>	<!--/.main-->

