<p id="notice"><%= notice %></p>

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="">Inicio</li>
				<li class="active">Estados</li>
			</ol>
		</div><!--/.row-->
    <center>
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Estados</h1>
			</div>
		</div><!--/.row-->
      <table class="table  table-bordered">
        <thead>
          <tr>
          Nombre: <%= @status.name %><br>
          Descripción: <%= @status.description %><br>
          <%= link_to 'Editar', edit_status_path(@status) %> |
          <%= link_to 'Volver', statuses_path %>
        </div>
        <br>
			</div><!--/.col-->
		</div><!--/.row-->
	</div>	<!--/.main-->
  </center>