<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Demystifying Email Design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 10px 0 30px 0; ">
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 4px solid #70bbd9; border-radius:5px;">
        <% unless @company_name.downcase == "depocargo" || @company_name.downcase == "teisa" || @company_name.downcase == "asl" %>
            <tr>
              <td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0; color: #153643; font-size: 2em; font-weight: bold; font-family: Arial, sans-serif;">
                <h5 style="color:white; "><%=@company_name%></h5>
              </td>
            </tr>
        <% end %>
        <tr>
          <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 2em;">
                  <center>
                    <% if @company_name.downcase == 'depocargo' %>
                        <img src="http://www.fms-la.com/images/marcas/depocargo.png" style="margin-top:-40px;">
                    <% elsif @company_name.downcase == 'teisa' %>
                        <img src="http://www.fms-la.com/images/marcas/teisa.png" style="margin-top:-40px;">
                    <% elsif @company_name.downcase == 'asl' %>
                        <img src="https://image.ibb.co/k45Msm/ASL.png" style="margin-top:-40px;">
                    <%end%><br>
                    <img src="<%= !@picture.nil? ? @picture : 'http://placehold.it/200x200?text=sin imagen' %>" style="border: 4px solid #70bbd9; border-radius: 50%; width:200px !important; height:200px !important;" /></center><br>
                  <b>No conformidad</b>
                </td>
              </tr>
              <tr>
                <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 1.2em; line-height: 20px;">
                  <%=@description%>
                </td>
              </tr>
              <tr>
                <td style="font-family: Arial, sans-serif; font-size: 1.2em; line-height: 20px;color: #153643;"><hr> <br><li><b>Nombre del testigo: </b><%= "#{@involved}"%></li></td>
              </tr>

              <tr>
                <td style="font-family: Arial, sans-serif; font-size: 1.2em; line-height: 20px;color: #153643;"><hr> <br><li><b>Nombre del perjudicado: </b><%= "#{@name}"%></li></td>
              </tr>

              <tr>
                <td style="font-family: Arial, sans-serif; font-size: 1.2em; line-height: 20px;color: #153643; "> <br><li><b>Nombre de la persona que reportó: </b><%= "#{@first_name} #{@last_name}"%></li></td>
              </tr>

              </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
</body>
</html>