<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<ul class="nav menu">
			<li <%= current_page?(root_path) ? "class=active" : "'"%> ><a href="<%=root_path%>"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Inicio</a></li>
			<li <%= current_page?(accidents_path) ? "class=active" : "'"%>><a href="<%=accidents_path%>"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Incidentes</a></li>
			<li <%= current_page?(nonconformities_path) ? "class=active" : "'"%>><a href="<%=nonconformities_path%>"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> No conformidad</a></li>
      <%if i_am_admin? || i_am_supervisor? %>
        <li <%= current_page?(employees_path) ? "class=active" : "'"%>><a href="<%=employees_path%>"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Empleados</a></li>
				<li <%= current_page?(areas_path) ? "class=active" : "'"%>><a href="<%=areas_path%>"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Áreas</a></li>
				<% if i_am_admin? %>
          <li <%= current_page?(companies_path) ? "class=active" : "'"%>><a href="<%=companies_path%>"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg>Compañías</a></li>
        <% end %>
        <li <%= current_page?(users_path) ? "class=active" : "'"%>><a href="<%=users_path%>"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg>Usuarios</a></li>
			<%end%>
			<li role="presentation" class="divider"></li>
		<div class="attribution"><%=notice%></div>
	</div><!--/.sidebar-->