
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Inicio</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Dashboard</h1>
			</div>
		</div><!--/.row-->
    <canvas id="myChart"></canvas>
			</div><!--/.col-->
		</div><!--/.row-->
  <script>
          var months_nonconformities = [<% @non_conformities.each do |acc|%>
                                           <%="#{acc.first.first-1},"%>
                                        <%end%>];
          var nonconfirmities = [<% @non_conformities.each do |acc|%>
                                      <%="#{acc.first.last},"%>
                                    <%end%>];
          var months_accidents = [<% @accidents.each do |acc|%>
              <%="#{acc.first.first-1},"%>
              <%end%>];
          var accidents = [<% @accidents.each do |acc|%>
              <%="#{acc.first.last},"%>
              <%end%>];

          data_to_accidents = order_custom_to_array(months_accidents, accidents);
          data_to_nonc = order_custom_to_array(months_nonconformities, nonconfirmities);
          new Chart(document.getElementById("myChart"), {
          type: 'line',
          data: {
              labels: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre', 'Noviembre', 'Diciembre'],
              datasets: [{
                  data: data_to_accidents,
                  label: "No conformidades",
                  borderColor: "#0045cd",
                  fill: false
              }, {
                  data: data_to_nonc,
                  label: "Incidentes",
                  borderColor: "#a20012",
                  fill: false
              }
              ]
          },
          options: {
              title: {
                  display: true,
                  text: 'Incidentes y Noconformidades'
              }
          }
      });

          function order_custom_to_array(positions, values){
              arr = fill_array(new Array(11));
              for(var i = 0; i < positions.length; i++){
                  arr[positions[i]] = values[i];
              }
              return arr;
          }

          function fill_array(arr){
              for(var i = 0; i < arr.length; i++){
                  arr[i] = 0;
              }
              return arr;
          }
  </script>
	</div>	<!--/.main-->