<p id="notice"><%= notice %></p>

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="">Inicio</li>
				<li class="active">Usuarios</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Usuarios</h1>
			</div>
		</div><!--/.row-->
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Email</th>
                      <th>Permisos</th>
                      <th>Compañía</th>
                      <th colspan="3">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%@users.each do |user| %>
                      <tr>
                        <td><%=user.try(:first_name)%></td>
                        <td><%=user.try(:last_name)%></td>
                        <td><%=user.try(:email)%></td>
                        <td><%=bool_to_s_permissions(user)%></td>
                        <td><%=user.try(:company).try(:name)%></td>
                        <td><%= link_to 'Eliminar', delete_user_path(user), method: :delete, data: { confirm: 'Estas seguro?' }, class:"btn btn-danger" %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <br>
                <%= link_to 'Nuevo usuario', sign_up_path, class:'btn btn-success' %>
            </div>
        <br>
			</div><!--/.col-->
		</div><!--/.row-->
	</div>	<!--/.main-->

<p id="notice"><%= notice %></p>


