  <%= form_for @company do |form| %>

		<div class="container">
			<div class="row main">
				<div class="panel-heading">
				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="#">

						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nombre de la compañía</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i></span>
                    <%= form.text_field :name, id: :company_name, class:"form-control", placeholder:'Nombre de la compañía' %>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Descripción de la compañía</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-comment" aria-hidden="true"></i></span>
                    <%= form.text_area :description, class:"form-control", placeholder:'Descripción de la compañía', size:"2x5" %>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Email de la compañía</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                    <%= form.text_field :email, class:"form-control", placeholder:'Email de la compañía' %>
								</div>
							</div>
						</div>

						<div class="login-register">
                <%= form.submit 'Guardar', class:'btn btn-success'%>
                 <%= link_to 'Volver', companies_path, class:'btn btn-warning' %>
				    </div>
					</form>
				</div>
			</div>
		</div>
  <div class="actions">
    <br>
  </div>
<% end %>
  </div>