<p id="notice"><%= notice %></p>

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class=""><a href="<%=root_path%>">Inicio</a></li>
				<li class="active">Compañías</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Compañías</h1>
			</div>
		</div><!--/.row-->

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Email</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.description %></td>
        <td><%= company.email %></td>
        <td><center><%= link_to 'Ver', company, class:'btn btn-success' %></td>
        <td><center><%= link_to 'Editar', edit_company_path(company), class:'btn btn-warning' %></td>
        <td><center><%= link_to 'Eliminar', company, method: :delete, data: { confirm: 'Estas seguro?' }, class:'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Añadir Compañía', new_company_path, class:'btn btn-success' %>