  <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class=""><a href="<%=root_path%>">Inicio</a></li>
				<li class=""><a href="<%=companies_path%>">Compañías</a></li>
				<li class="active">Añadir Compañía</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Añadir Compañía</h1>
			</div>
		</div><!--/.row-->

<%= render 'form', company: @company %>

