	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class=""><a href="<%=root_path%>">Inicio</a></li>
				<li class="active">Compañías</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Compañías</h1>
			</div>
		</div><!--/.row-->

<div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= @company.name  %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Descripción:</td>
                        <td><%= @company.description %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
               </div>
              </div>
             <div class="panel-footer">
              <%= link_to 'Editar', edit_company_path(@company), class:'btn btn-warning' %> | <%= link_to 'Volver', companies_path, class:'btn btn-danger' %>
          	</div>
          </div>
        </div>
      </div>
    </div>




      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Emails que reciben las notificaciones</h1>
        </div>
      </div><!--/.row-->
    <br>
    <%= link_to 'Añadir Email', new_company_notification_path, class:'btn btn-success' %>

      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th colspan="3">Acciones</th>
        </tr>
        </thead>

        <tbody>
        <% @notifications.each do |notif| %>
            <tr>
              <td><%= notif.user.first_name %> <%= notif.user.last_name%></td>
              <td><%= notif.user.email %></td>
              <td><center><%= link_to 'Eliminar', notif, method: :delete, data: { confirm: 'Estas seguro?' }, class:'btn btn-danger' %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <br>

