<p id="notice"><%= notice %></p>
        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
          <div class="row">
            <ol class="breadcrumb">
              <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
              <li class="">Inicio</li>
              <li class="active">Área</li>
            </ol>
          </div><!--/.row-->
           <center>

          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">Área</h1>
            </div>
          </div><!--/.row-->
            Nombre: <%= @area.name %> <br>
            Descripción: <%= @area.description %> <br>
            Compañía: <%= @area.company.try(:name) %> <br>
            <%= link_to 'Editar', edit_area_path(@area) %> | <%= link_to 'Volver', areas_path %>
          </center>
        </div>
        <br>
			</div><!--/.col-->
		</div><!--/.row-->
	</div>	<!--/.main-->