	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="">Inicio</li>
				<li class="active">Incidentes</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Incidentes</h1>
			</div>
		</div><!--/.row-->
      <%= form_for @accident do |form| %>
        <% if accident.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(accident.errors.count, "error") %> prohibited this accident from being saved:</h2>

            <ul>
            <% accident.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="actions">
          Trabajador: <%= form.collection_select :employee , Employee.all, :id, :first_name, prompt: true %>
        </div>

        <div class="actions">
          Área: <%= form.collection_select :area, Area.all, :id, :name, prompt: true %>
        </div>

        <div class="actions">
          Descripción:  <%= form.text_field :description %>
        </div>

        <div class="actions">
          Nombre del perjudicado:
          <%= form.text_field :name_of_injured %>
        </div>

        <div class="actions">
          Latitud:
          <%= form.text_field :lat %>
        </div>

        <div class="actions">
          Longitud:
          <%= form.text_field :lng %>
        </div>

        <div class="actions">
        Estado:
          <%= form.collection_select :status, Status.all, :id, :name %>
        </div>

        <div class="actions">
          <%= form.submit 'Guardar', class:'btn btn-success' %>
        </div>
      <% end %>
      <br>
			</div><!--/.col-->
		</div><!--/.row-->
	</div>	<!--/.main-->

