<p id="notice"><%= notice %></p>

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="">Inicio</li>
				<li class="active">Incidentes</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Incidentes</h1>
			</div>
		</div><!--/.row-->


    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading" style="vertical-align: center !important;">
              <h3 class="panel-title" style="padding-top:10px;"><%=@accident.employee.try(:first_name)%> <%=@accident.employee.try(:last_name)%> <%if @accident.status.name != "Finalizado"%><small class="pull-right"><%= link_to 'Volver', accidents_path, class:'btn btn-warning' %> <%=link_to "Terminar", finish_accident_path(@accident), class:'btn btn-danger' %></small><%end%></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4 col-lg-4 " align="center"> <img alt="User Pic" src="<%= !@accident.try(:picture).nil? ? image_url(@accident.try(:picture)) : 'http://placehold.it/200x200' %>" class="img-responsive img-action"><br><a href="<%= !@accident.try(:picture).nil? ? @accident.try(:picture) : '' %>" download="accidente.jpg" class="btn btn-success" style="width: 100% !important;">Descargar imagen <span class="glyphicon glyphicon-download-alt"></span> </a> </div>
                <div class=" col-md-8 col-lg-8">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Empleado:</td>
                        <td><%=@accident.employee.try(:first_name)%> <%=@accident.employee.try(:last_name)%></td>
                      </tr>
                      <tr>
                        <td>Área:</td>
                        <td><%=@accident.area.try(:name)%></td>
                      </tr>
                      <tr>
                        <td>Descripción:</td>
                        <td><%=@accident.description%></td>
                      </tr>
                      <tr>
                        <td>Nombre del perjudicado:</td>
                        <td><%=@accident.name_of_injured%></td>
                      </tr>
                       <tr>
                        <td>Testigo:</td>
                        <td><%=@accident.involved%></td>
                      </tr>
                      <tr>
                        <td>Fecha en que se reportó:</td>
                        <td><%=@accident.created_at.strftime("%d/%m/%Y %H:%M")%></td>
                      </tr>
                      <tr>
                        <td>Visto ultima vez por:</td>
                        <td><%= @viewed %> - <%= @created_at_viewed.strftime("%d/%m/%Y") %></td>
                      </tr>
                      <tr>
                        <td>Ubicación:</td>
                        <td><div id="map" style="width:300px; height:300px;"></div></td>
                      </tr>

                    </tbody>
                  </table>
                </div>
               </div>
              </div>
          </div>
        </div>
      </div>
    </div>

        <br>
			</div><!--/.col-->
		</div><!--/.row-->
	</div>	<!--/.main-->

    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= @accident.lat %>, lng: <%= @accident.lng %>},
          zoom: 15
        });
         var marker = new google.maps.Marker({
          position: {lat: <%= @accident.lat %>, lng: <%= @accident.lng %>},
          map: map
        });
      }

      window.downloadFile = function(sUrl) {

    //If in Chrome or Safari - download via virtual link click
    if (window.downloadFile.isChrome || window.downloadFile.isSafari) {
        //Creating new link node.
        var link = document.createElement('a');
        link.href = "<%= !@accident.try(:picture).nil? ? image_url(@accident.try(:picture)) : '' %>";

        if (link.download !== undefined){
            //Set HTML5 download attribute. This will prevent file from opening if supported.
            var fileName = sUrl.substring(sUrl.lastIndexOf('/') + 1, sUrl.length);
            link.download = fileName;
        }

        //Dispatching click event.
        if (document.createEvent) {
            var e = document.createEvent('MouseEvents');
            e.initEvent('click' ,true ,true);
            link.dispatchEvent(e);
            return true;
        }
    }

    // Force file download (whether supported by server).
    var query = '?download';

    window.open(sUrl + query);
}

window.downloadFile.isChrome = navigator.userAgent.toLowerCase().indexOf('chrome') &gt; -1;
window.downloadFile.isSafari = navigator.userAgent.toLowerCase().indexOf('safari') &gt; -1;
    </script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSyjp-5YTfnXMKtaTjnRNjrtV--HFGLMg&callback=initMap"async defer></script>
