<br>
<%= form_for :user do |f| %>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">Log in</div>
				<div class="panel-body">
          <% if notice %>
            <div class="alert alert-danger"><%=notice%></div>
          <%end%>
          <form role="form">
						<fieldset>
							<div class="form-group">
								<%= f.text_field :email, class:"form-control", placeholder:"Email" %>
							</div>
							<div class="form-group">
								<%= f.password_field :password, class:"form-control", placeholder:"Contraseña"  %>
							</div>
              <%= f.submit "Iniciar sesión", class:"btn btn-primary" %>
						<!--	<a href="<%=sign_up_path%>" class="btn btn-success">Crear cuenta</a> -->
						</fieldset>
					</form>
				</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->
<% end %>
