
<%=notice%>
<br>
<%= form_for :user do |f| %>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">Crear cuenta de acceso</div>
				<div class="panel-body">
					<form role="form">
						<fieldset>
							<div class="form-group">
								<%= f.text_field :first_name, class: 'form-control', placeholder:'Nombres', required:true %>
							</div>
              	<div class="form-group">
								<%= f.text_field :last_name, class: 'form-control', placeholder:'Apellidos', required:true %>
							</div>
							<div class="form-group">
                Compañía:
                <%= f.collection_select :company, Company.all, :id, :name, {:include_blank => 'Todas'} if @user.is_admin%>
                <%= f.collection_select :company, @company, :id, :name  if @user.is_supervisor%>
              </div>
              	<div class="form-group">
								<%= f.text_field :email, class: 'form-control', placeholder:'Correo electronico', required:true %>
							</div>
							<div class="form-group">
								<%= f.password_field :password, class: 'form-control', placeholder:"Contraseña", required:true  %>
							</div>
							<div class="form-group">
								Conceder todos los privilegios? (ADVERTENCIA: PODRA ELIMINAR, EDITAR Y AÑADIR EN TODAS LAS SECCIONES)
								<%= f.check_box :is_admin, class: 'form-control' %>
							</div>
              <%= f.submit "Crear cuenta", class: 'btn btn-primary' %>
							<a href="<%=users_path%>" class="btn btn-success">Volver</a>
						</fieldset>
					</form>
				</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->
<% end %>
