<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
      <li class="">Inicio</li>
      <li class="active">Empleados</li>
    </ol>
  </div><!--/.row-->

<%= form_for @company_notification do |form| %>
  <br>
  <div class="row">
    <div class="col-md-6">
      <label for="user_id">Usuario que recibirá notificaciones:</label>
      <select class="form-control" name="user_id">
        <%=Parse::User.all.each do |user|%>
            <option value="<%= user.id %>"><%=user.first_name%> <%=user.last_name%> - Email: <%=user.email%></option>
        <%end%>
      </select>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <label for="company_id">Empresa que emitirá notificaciones para el usuario:</label>
      <select class="form-control" name="company_id">
        <%=Company.all.each do |company|%>
            <option value="<%= company.id %>"><%=company.name%></option>
        <%end%>
      </select>
    </div>
    <div class="col-md-6"></div>
  </div>

  <br>
  <div class="actions">
    <%= form.submit 'Guardar', class:'btn btn-info'%>
  </div>
<% end %>
</div>