<h1>Editing Company Notification</h1>

<%= render 'form', company_notification: @company_notification %>

<%= link_to 'Show', @company_notification %> |
<%= link_to 'Back', company_notifications_path %>
