<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
      <li class="">Inicio</li>
      <li class="active">Empleados</li>
    </ol>
  </div><!--/.row-->

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_notifications.each do |company_notification| %>
      <tr>
        <td><%= link_to 'Show', company_notification %></td>
        <td><%= link_to 'Edit', edit_company_notification_path(company_notification) %></td>
        <td><%= link_to 'Destroy', company_notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company Notification', new_company_notification_path %>
</div>